{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
<div class="section">
    <h2>Transaction History</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Symbol</th>

                <th>Shares</th>
                <th>Price</th>
                <th>Date</th>
                <th>Transaction</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
                <tr>
                    <td> {{stock["symbol"]}} </td>
                    <td> {{stock["share"]}} </td>
                    <td> {{stock["price"]}} </td>
                    <td> {{stock["date"]}}</td>
                    <td> {{stock["ts"]}} </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

